*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
    color: #00f485;
    font-size: 1.5rem;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    
}